#notes_container{
    padding-top: 50px;
}

#change_buttons_container{
    display: flex;
    justify-content: center !important;
    margin-bottom: 50px;
}

#cancel_button{
    margin-left: 15px !important;
    margin-right: 15px !important;
}

#ok_button{

}

#add_button{
    display: none !important;  
}

#tag_input_group{
    margin-top: 20px;
}

@media (max-width: 767.98px) {
    #change_buttons_container{
        display: flex;
        justify-content: center !important;
        margin-bottom: 20px;
    }

    #note_textarea{
        height: 50vh;
    }
}
